*{
	@include reinicia();
}
body{
	font-family: $font;
}
.slider{
	background:$background1;
	background-size: $background_size;
	background-position: $background_position;
	background-repeat:$background-repeat;
	height:$background-height;
	font-weight:$bolder-font;
}


.slider2{
	font-weight:$bolder-font;
	background-image:$background2;
	display:$shown;
	background-size:$background_size;
	background-position:$background_position;
	background-repeat:$background-repeat;
	height:$background-height;
}

.carrusel{
	padding:$padding-carrusel;
	text-align:$text-center;
	width:$carrusel-width;
	color:$carrusel-color;
	font-family:$slider-font;
	h1{
		font-weight:$bolder-font;
	}
	.arrow{
		color:$carrusel-color;
		font-weight:$normal-font;
		font-size: $arrow-size;
		border-radius:$arrow-radius;
	}
	.arrow-container{
		margin-top:$arrow-margin-top;
	}

}