.slider{
	background:$background1;
	background-size: $background_size;
	background-position: $background_position;
	visibility: $hidden;
	background-repeat:$background-repeat;
}
.slider2{
	background:$background2;
}