@mixin reinicia(){
	padding:0;
	margin:0;
    max-width: 100%;

}
@mixin now(){
	background:url("../img/img_city.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
	height: 800px;
}
@mixin portfolio(){
	background-color:white;
	color:#A6A6A6;
	padding:20px 40px;
}
@mixin plan(){
	background-color:#E6E6E6;
	color:#A6A6A6;
	padding:80px 70px;
}
@mixin foot(){
	background-color:#303235;
	color:#A6A6A6;
	padding:20px 40px;
}
@mixin touch(){
	background: url("../img/img_city.jpg");
	color:$pdivs-color;
	height:600px;
	border-radius:$arrow-radius;
}
@mixin getCont(){
	padding:0 30px;
	margin-left:70px;
}
@mixin footMedia(){
    background-repeat: no-repeat;
    background-size:100%;
	word-wrap: break-word;
	color:#A6A6A6;
}
@mixin blog(){
	background-color:$features-background;
}