$background1: url(../img/img_slider_1.jpg);
$hidden: none;
$background_size: 100%;
$background_position:50% 70%;
$background_repeat:no-repeat;
$background2: url(../img/img_slider_2.jpg);
$shown:block;
$background_height:500px;
$padding-carrusel:100px 30px;
$text-center: center;
$carrusel-width:100%;
$font:'Roboto', sans-serif;
$slider-font:'Roboto', sans-serif;
$margin-original:0;
$bolder-font:900;
$normal-font:normal;
$carrusel-color: #E9E9EA;
$arrow-size: 60px;
$arrow-padding: 70px 30px 30px 30px;
$arrow-margin-top:50px;
$arrow-radius:30px;