$background1: url(../img/img_slider_1.jpg);
$hidden: none;
$background_size: 100%;
$background_position:50% 70%;
$background_repeat:no-repeat;
$background2: url(../img/img_slider_2.jpg);
$shown:block;
$background_height:500px;
$padding-carrusel:100px 30px;
$text-center: center;
$carrusel-width:100%;
$font:'Roboto', sans-serif;
$slider-font:'Roboto', sans-serif;
$margin-original:0;
$padding-original:0;
$bolder-font:900;
$bold-font:700;
$normal-font:normal;
$carrusel-color: #E9E9EA;
$arrow-size: 60px;
$arrow-padding: 70px 30px 30px 30px;
$arrow-margin-top:50px;
$arrow-radius:30px;
$content-background:#D9D9D9;
$features-background:#F5F5F5;
$features-padding:20px 40px;
$features-width:90%;
$features-container-border: 1px solid whitesmoke;
$features-text-align:center;
$pUno-padding:50px 180px;
$pUno-color:grey;;
$sTitle-color:#475260;
$fIcon-size:90px;
$fFont-size:20px;
$video-border:1px solid whitesmoke;
$products-padding: 30px 10px;
$pdivs-color:white;
$pdivs-padding: 20px 0;
$pdivs-margin: 5px 10px;
$pdivs-radius: 15px;
$pdivs-width:22%;
$pimg-width:90%;
$epigrafe:crimson;
$epigrafe-size:13px;
$pSub-title-size:15px;
$pSub-title-margin: 10px 0;
$pdiv-par-size:10px;
$picons-margin: 40px 0 0 0;
$smlinks-paddig: 0px 50px;